*{
    margin: 0 auto;
    padding: 0;}
    


.nav-bar{
    display: flex;
    justify-content: space-between;
    background-color: #7e5e48;
    align-items: center;
    text-decoration:none;
    list-style: none;
    padding: 8px 0px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}
.logo{
    font-family: "Righteous", sans-serif;
  font-weight: 400;
  font-style: normal;
  cursor: pointer;
}

.c1{
    color: #43281f;
}
.c2{
    color: #f3eee7;
}
.links{
    display: flex;
    gap: 50px;
    list-style: none;
    font-size: large;
    font-weight: 400;
    

}
.links li{
    display: inline-block;
    
}
.links a{
    text-decoration: none;
    color: white;
}
.links a:hover{
    background-color: #43281f;
    padding: 10px 10px;
    border-radius: 8px;
   
}

.SIGN {
  background-color: #e6ddd1;
  color: #43281f;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  margin-right: 5px;

  
}

.SIGN:hover {
  background-color: #d5c8b8;
}

.ORD {
  background-color: #a9745b;
  color: #f3eee7;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  margin-left: 5px;
  
}

.ORD:hover {
  background-color: #99624c;
}

.pra1{

    text-align: center;
    background-image: url(../img/beans.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #f3eee7;
    padding: 100px;
    background-attachment: fixed;

}

.st{
    font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.line1{
    width: 150px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.flav{
    font-family: "Fira Sans", sans-serif;
  font-weight: 100;
  font-style: italic;
  font-size: smaller ;
  opacity: 0.7;

}
.fm{
    padding-top: 50px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    
}
.nw{
    margin-right: 20px;
    border-radius: 8px;
    padding: 10px;
    border: none;
    background-color: yellow;
}
.nw:hover{
    background-color: #7e5e48;
   
}
.mn{
    padding: 10px;
    background-color: #99624c;
    border: none;
    border-radius: 8px;
}
.mn:hover{
    background-color:#f3eee7 ;
}

.why{
    padding-top: 20px;
    padding-left: 20px;
    color: #7e5e48;
}

.bec{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.img1{
    height: 50vh;
    width: 400px;
    margin-left: 100px;
    box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}
.bac{
    font-size: x-large;
    font-weight: 600;
}
.caff{
    font-size: large;
    font-weight: 100;
    opacity: 0.7;
    padding-left: 70px;
}
.ltd{
    margin-right: 100px;
    padding-left: 40px;
    color: #7e5e48;
}
.pra3{
    background-color:#f3eee7 ;
}
.des{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.first{
    background-image: url(../img/pb.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 20pxpx;
    padding-top: 250px;
    color: #f3eee7;
    border-radius: 15px;
    box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.1);
    padding-left: 15px;
    padding-right: 15px;

}
.pre{font-size: x-large;
    font-weight: 600;
    padding-bottom: 10px;

}
.only{
    padding-bottom: 50px;
    font-size: medium;
    font-weight: 400;
    opacity: 0.8;
}
.second{
    background-image: url(../img/work\ space.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 20pxpx;
    padding-top: 250px;
    color: #f3eee7;
    border-radius: 15px;
    box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.1);
    padding-left: 15px;
    padding-right: 15px;


}

.third{
    background-image: url(../img/fast.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 20pxpx;
    padding-top: 250px;
    color: #f3eee7;
    border-radius: 15px;
    box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.1);
    padding-left: 15px;
    padding-right: 15px;

}
.pra4{
    text-align: center;
    background-image: url(../img/art.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #c4a484;
    padding-top: 150px;
    background-attachment: fixed;
    margin-top: 1px;
   ;
}
.line2{
    width: 50px;
    margin-bottom: 40px;
    margin-top: 10px;
}
.p2{
    font-size: medium;
    font-weight: 100;
    opacity: 0.8;
}

.lnks1{
    display: inline-block;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 1px;
    
}
.lnks1 a{
    text-decoration: none;
    color: #c4a484;
    border: none;
    border-radius: 8px;
   margin-top: 50px;
   padding-bottom: 30px;
}
.lnks1 a:hover{
    background-color: #43281f;
    padding: 10px 10px 0px;
}
.lks1{
    display: flex ;
    flex-direction: column;
    gap: 20PX;
    font-size: large;
    font-weight: 700;
    opacity: 0.7;

}
.pra5{
    display: flex;
    justify-content: space-between;
    background-color: #43281f;
    color: #f3eee7;
}
.ll{
    border: none;
    border-radius: 8px;
    background-color: #7e5e48;
    font-family: "Righteous", sans-serif;
  font-weight: 400;
  font-style: normal;
  cursor: pointer;
}
#oo{
    opacity: 1.0;
}
/*  موبايلات: شاشات أصغر من 768px */
@media (max-width: 768px) {

  /* النڤ بار */
  .nav-bar {
    flex-direction: column;
    align-items: center;
    gap: 10px;
    position: relative;
    
  }

  .links {
    flex-direction: column;
    gap: 15px;
    text-align: center;
  }
  .ttt{
    display: flex;
    gap: 10px;
  }

  .pra1 {
    padding: 50px 20px;
    background-attachment: scroll;
  }

  .st {
        font-size: 24px;

  }

  .flav {
    font-size: 14px;
    opacity: 2;
  }

  .nw, .mn {
    width: 100%;
    margin: 10px 0;
  }

  .bec {
    flex-direction: column;
    align-items: center;
  }

  .img1 {
    width: 90%;
    height: auto;
    margin: 0;
  }

  .ltd {
    margin: 20px 0;
    padding: 0 20px;
  }

  .des {
    flex-direction: column;
    gap: 20px;
    padding: 20px;
  }

  .first, .second, .third {
    padding-top: 150px;
    text-align: center;
  }

  .pra5 {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
    padding: 20px;
  }

  .lks1 {
    width: 100%;
  }

  .lnks1 {
    flex-direction: column;
    gap: 10px;
  }
  .second{
    width: 93%;
  }
  .first{
    background-position: center;
  }
  .pra4{
    background-position: center;
  }

}
